/*  Copyright 2011  Rik van der Kemp  (email : rik@mief.nl)

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License, version 2, as
    published by the Free Software Foundation.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/
div.mief_slider {
    position: relative;
    height: 350px;
    overflow: hidden;
}
div.mief_slider ul {
    list-style: none none;
    padding: 0;
    margin: 0;
    position: relative;
}

div.mief_slider ul li {
    position: absolute;
    top: 0;
    left: 0;
}

div.mief_slider div.controls {
    position: absolute;
    display: none;
    bottom: 20px;
    right: 20px;
}

div.mief_slider div.controls div.next {
    background: url(../images/icons/next.png) top left no-repeat;
    width: 22px;
    height: 22px;
}

div.mief_slider div.controls div.prev {
    background: url(../images/icons/prev.png) top left no-repeat;
    width: 22px;
    height: 22px;
}

div.mief_slider div.controls div.pause {
    background: url(../images/icons/pause.png) top left no-repeat;
    width: 22px;
    height: 22px;
}